body{
    background-color: beige;
    padding-top: 0;
}

#container{
    width: 1000px;
    max-width: 100%;
    background-color: white;
    border: solid 1px;
    padding: 1%;
    margin-left: 15%;
    border-top: none;
}

.recipe-card{
    border: solid 1px;
    background-color: beige;
    width: 200px;
}

.recipe-card h3, p{
    margin-left: 3%;
}


